/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,181,236, 0.9);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar-button a:hover {
    background-color: #f1f1f1;
    color:  rgba(0,181,236, 0.9);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1 ;
    display: block;
    transition: 0.3s;
}


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* ####### */

/* Buttons */
.btn-channel {
    width: 100%;
    margin: 0px 10px 0px 10px;
    background-color: rgba(0, 181, 236, 0.9);
    color: #f1f1f1;
}

.btn-channel:hover {
    background-color: rgba(50, 181, 200, 0.9);
    color: #f1f1f1;
}

.btn-right {
    margin-right: 0px;
    margin-left: auto;
    display: block;
}

.button-menu {
    display: inline-block;
}

.button-container {
    margin-top: 10px;
}

.openbtn {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}
/* ####### */

/* Font Settings */
.font-centered {
    text-align: center;
    font-weight: bold;
}
/* ############# */

/* Additional Borders */
.border-top-green {
    border-top: 1px solid #28A745 !important
}

.border-bottom-green {
    border-bottom: 1px solid #28A745 !important
}
/* ################## */

/* @media settings */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* ############### */
