/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,181,236, 0.9);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar-button a:hover {
    background-color: #f1f1f1;
    color:  rgba(0,181,236, 0.9);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1 ;
    display: block;
    transition: 0.3s;
}


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* ####### */

/* Buttons */
.btn-channel {
    width: 100%;
    margin: 0px 10px 0px 10px;
    background-color: rgba(0, 181, 236, 0.9);
    color: #f1f1f1;
}

.btn-channel:hover {
    background-color: rgba(50, 181, 200, 0.9);
    color: #f1f1f1;
}

.btn-right {
    margin-right: 0px;
    margin-left: auto;
    display: block;
}

.button-menu {
    display: inline-block;
}

.button-container {
    margin-top: 10px;
}

.openbtn {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}
/* ####### */

/* Font Settings */
.font-centered {
    text-align: center;
    font-weight: bold;
}
/* ############# */

/* Additional Borders */
.border-top-green {
    border-top: 1px solid #28A745 !important
}

.border-bottom-green {
    border-bottom: 1px solid #28A745 !important
}
/* ################## */

/* @media settings */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* ############### */

.b-item {
    position: absolute;
    max-height: 50rem;
    width: 10rem;

    background-color: yellow;
    border-radius: 10px;

}

.message-board-container {
    position: relative;
    width: 100%;
    height: 60vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgba(255,255,255, 0.3)
}

.modal-container {
    display: flex;
    width: 100%;
    min-width: 400px;

    max-height: 100%;
    min-height: 150px;

    padding: 10px 10px;
    margin: 0px 50px;

    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 6px 6px 30px 5px #ddd;
}

.modal--shown {
    display: flex;
}

form {
    width: 100%;
}